<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis Test</title>
</head>

<body>


{% if messages %}
    {% for message in messages %}
        <div style="color: red;" class="alert alert-{{ message.level_tag }}">{{ message }}</div>
    {% endfor %}
{% endif %}


<h1>Counter: {{ count }} @ {{ last_update }}</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'increment-counter-web' %}">
    {% csrf_token %}
    <button class="form-control btn btn-success" type="submit">Increment Web</button>
</form>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'increment-counter-rq' %}">
    {% csrf_token %}
    <button class="form-control btn btn-success" type="submit">Increment RQ</button>
</form>


<h1>UploadFileJobs ({{ upload_file_jobs|length }})</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'upload-file' %}">
    {% csrf_token %}
    <button class="form-control btn btn-success" type="submit">Upload</button>
    <input type="file" name="data_file">
</form>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'delete-file-jobs' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Delete File Jobs</button>
    </div>
</form>

{% if upload_file_jobs %}
    <ul>
        {% for upload_file_job in upload_file_jobs %}
            <li>
                {{ upload_file_job }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>(No jobs)</p>
{% endif %}


<h1>RQ</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'empty-rq' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Empty RQ</button>
    </div>
</form>

<ul>
    <li>Connection: {{ conn }}</li>
    <li>Queue: {{ queue }}</li>
    <li>Jobs: ({{ queue.jobs|length }}):
        <ul>
            {% for job in queue.jobs %}
                <li>{{ job }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>


</body>

</html>