<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis Test</title>
</head>

<body>

<h1>Submit</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'increment-counter-web' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Increment Web</button>
    </div>
</form>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'increment-counter-rq' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Increment RQ</button>
    </div>
</form>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'clear-rq' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Clear RQ</button>
    </div>
</form>


<h1>{{ count }} @ {{ last_update }}</h1>

<ul>
    <li>Connection: {{ conn }}</li>
    <li>Queue: {{ queue }}</li>
    <li>Jobs: ({{ queue.jobs|length }}):
        <ul>
            {% for job in queue.jobs %}
                <li>{{ job }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>


</body>

</html>