<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis Test</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border-color: #cccccc; /* grey */
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-color: #cccccc; /* grey */
        }
    </style>
</head>

<body>


{% include 'messages_snippet.html' %}


<h1>Counter: {{ count }} @ {{ last_update }}</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'increment-counter-web' %}">
    {% csrf_token %}
    <button class="form-control btn btn-success" type="submit">Increment Web</button>
</form>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'increment-counter-rq' %}">
    {% csrf_token %}
    <button class="form-control btn btn-success" type="submit">Increment RQ</button>
</form>


<h1>UploadFileJobs ({{ upload_file_jobs|length }})</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'upload-file' %}">
    {% csrf_token %}
    <button class="form-control btn btn-success" type="submit">Upload</button>
    <input type="file" name="data_file">
</form>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'delete-file-jobs' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Delete File Jobs</button>
    </div>
</form>

{% if upload_file_jobs %}
    <br>
    <table border="1">
        <thead>
        <tr>
            <th>pk</th>
            <th>Created</th>
            <th>Updated</th>
            <th>File Name</th>
            <th>Status</th>
            <th>Failed?</th>
            <th>&Delta;T</th>
        </tr>
        </thead>
        <tbody>
        {% for upload_file_job in upload_file_jobs %}
            <tr>
                <td>{{ upload_file_job.pk }}</td>
                <td>{{ upload_file_job.created_at|date:"Y-m-d h:i:s" }}</td>
                <td>{{ upload_file_job.updated_at|date:"Y-m-d h:i:s" }}</td>
                <td>{{ upload_file_job.filename }}</td>
                <td>{{ upload_file_job.status_as_str }}</td>
                <td>{% if upload_file_job.is_failed %}{{ upload_file_job.failure_message }}{% else %}No{% endif %}</td>
                <td>{{ upload_file_job.elapsed_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>(No jobs)</p>
{% endif %}


<h1>S3 Bucket</h1>

<p><a href="{% url 's3-bucket' %}">Object list</a></p>


<h1>RQ</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'empty-rq' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Empty RQ</button>
    </div>
</form>

<ul>
    <li>Connection: {{ conn }}</li>
    <li>Queue: {{ queue }}</li>
    <li>Jobs: ({{ queue.jobs|length }}):
        <ul>
            {% for job in queue.jobs %}
                <li>{{ job }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>


</body>

</html>