<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redis Test</title>
</head>

<body>


{% include 'messages_snippet.html' %}


<h1>S3</h1>

<form class="form-inline" method="POST" enctype="multipart/form-data"
      action="{% url 'empty-s3-bucket' %}">
    {% csrf_token %}
    <div class="form-group">
        <button class="form-control btn btn-success" type="submit">Delete All Objects</button>
    </div>
</form>

<p>Objects: ({{ s3_objects|length }})</p>
<ul>
    {% for s3_object in s3_objects %}
        <li>{{ s3_object }}</li>
    {% endfor %}
</ul>


</body>

</html>