[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
dj-database-url = "*"
django = "==1.11"
django-rq = "*"
gunicorn = "*"
rq = "*"
whitenoise = "*"
"boto3" = "*"
"psycopg2-binary" = "*"
awscli = "*"
jsonfield = "*"

[dev-packages]
